@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";

.dataTable {
  width: 100%;
  position: sticky;
}

.dataTableRenderButtonsColumn {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: 100%;

  @include half() {
    flex-wrap: wrap;
  }

}

.dataTableRenderHeader {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: $space-m;

  @include half() {
    flex-direction: column;
  }
}