@import '../../assets/styles/base/_mixins.scss';
@import '../../assets/styles/base/_variables.scss';
@import '../../assets/styles/base/_colors.scss';

.container{
    width: 99vw;
    height: auto;
    display: flex;
    flex-direction: column;

    .textsImageContainer{ 
        display: flex; 
        align-items: center; 
        flex-direction: row;
    }

    .Title {
        color: $indigo900
    }
    
    .SubTitle {
        color: $indigo900;
        margin-block: 10px;
    }

    .image{
        max-height: 100%;
        width: 90%;
    }

    .FooterStyle {
        height: 8vh;
        background-color: $indigo800;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .ContainerPolitic {
        overflow-y: scroll;
        width: 100vw;
        height: 92vh;
        padding: 20px;
        padding-inline: 30px;
        margin-block: 10px;
    }
    
    .LiStyle {
        font-size: 15px;
        margin-left: 10px;
    }
    
    .UlStyle {
        list-style-type: disc;
        margin-left: 30px;
    }

    @media(max-width:1130px){
        .textsImageContainer{
            display: flex;
            flex-direction: column;
        }
    }
}
