@import "~/assets/styles/base/theme";

/* Colors */
$white: white;
$black: black;
$gray-100: #f2f2f2;
$gray-150: #f3f3f3;
$gray-200: #f6f6f6;
$gray-250: #f5f5f5;
$gray-300: #e7e7e7;
$gray-400: #a09090;
$gray-500: #4f4f4f;
$gray-700: #312e2e;
$green-300: #28a745;
$green-500: #096d21;
$blue-200: #9eb2c3;
$blue-400: #374d60;
$blue-500: #173b5b;
$blue-600: #0b3861;
$blue-700: #194040;
$red-300: #de6868;
$red-500: #dc3545;
$yellow-200: #d6c48c;
$yellow-400: #fcd150;
$yellow-500: #ffc107;

// border radius
$border_radius_small: 8px;
$border_radius_medium: 12px; // para elementos maiores

// // box shadow
// // // quanto maior o valor, mais "próximo" a tela
// @include themed {
//   $elevation_1: 0px 20px 7px t('box-shadow-color');
//   $elevation_2: 4px 20px 7px t('box-shadow-color');
// }

// ESPAÇAMENTO
$space-zero: 0px;
$space-pp: 4px;
$space-p: 8px;
$space-m: 16px;
$space-g: 24px;
$space-xg: 32px;
$space-xxg: 40px;

$spacingNames: "zero", "pp", "p", "m", "g", "xg", "xxg";
$spacingValues: $space-zero, $space-pp, $space-p, $space-m, $space-g, $space-xg, $space-xxg;
$spacingTypes: "top", "bottom", "right", "left";

$sizeScreenNames: "Xs", "Sm", "Md", "Lg", "Xl";

$primary-color: $indigo900;
$secondary-color: $gray-100;
$success-color: $green500;
$danger-color: $red400;
$warning-color: $yellow-400;
$info-color: $blue-200;
$background-color: $black0;
$text-color: $black900;

/* Width Scale */
$width-extrasmall: 420px; //xs
$width-small: 576px; //sm
$width-medium: 768px; //md
$width-large: 992px; //lg
$width-extralarge: 1200px; //xl

/* Links */
$a-color: $gray-700;
$a-hover-color: $gray-700;

/* Dropdown */
$dropdown-background: $gray-100;
$dropdown-a-hover: #f1f1f1;
$circle-dropdown-background: $gray-500;

/* Modal */
$modal-hr-color: $gray-300;

/* Table */
$table-background: $blue-200;
$td-background: transparent;
$td-border-color: $gray-300;

/* Header */
$header-link: hsl(209deg 80% 21%);
$header-link-hover: hsl(209deg 80% 40%);

$header-padding: $space-p $space-xg;
$header-half-padding: $space-m;

$header-brand-height-base: 25px;
$header-brand-height-half: calc($header-brand-height-base / 2);

$header-desktop-height: 72px;
$header-desktop-min-height: unset;
$header-desktop-max-height: unset;
$header-half-height: 72px;
$header-half-min-height: unset;
$header-mobile-height: 72px;
$header-mobile-min-height: unset;

/* SideMenu */
$side-menu-background-color: $primary-color;
$side-menu-color: $secondary-color;
$change-view-background-color1: $secondary-color;
$change-view-background-color2: $primary-color;
$side-menu-dropdown-icon-color: $secondary-color;
$side-menu-width-open: 25%;
$side-menu-width-close: 96px;
$side-menu-width-close-half: 70px;
$side-menu-width-close-mobile: 55px;

$list-aside-background: #f1f3f5;

/* Inputs */
$input-background-color: $black0;
$input-border: 1px solid;
$input-border-color: $black100;
$input-border-radius: $border_radius_small;
$input-padding: $space-m $space-m;

$local-select-background: $black0;
$local-select-border: $black100;
$local-select-color: $black900;

/* Pagination */
$pagination-unselected-background-color: transparent;

/* General properties */
$box-shadow-1: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 3px 10px 3px rgb(0 0 0 / 6%);
$local-select-box-shadow: 0px 1px 2px rgb(0 0 0 / 6%),
  0px 1px 3px rgb(0 0 0 / 10%);

$popup-background: $opacity_1;