@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";
@import "~/assets/styles/base/typography";

.notificationButtonItem {
  min-width: 300px;
  padding: $space-m;
  cursor: pointer;

  // &:hover {
  //   background-color: #cbcbcb;
  // }

  .notVisualized {
    font-weight: bold;
  }

  .dateStringContainer{
    display:flex;
    margin-top:$space-m;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    .dateString{
      font-size: $fonte_mini;
      text-align: end;
      width: 100%;
    }
  }

  p {
    line-height: 20px !important;
  }

  @include halfmobile {
    min-width: unset;
  }
}