beautifulsoup4==4.12.2
Flask==0.12.2
flask_cors==3.0.10
geopy==2.3.0
googlemaps==4.10.0
googletrans==3.0.0
kmodes==0.12.2
lxml==4.9.1
numpy==1.24.0
pandas==1.5.2
Proxy_List_Scrapper==0.2.2
psycopg2==2.9.6
requests==2.22.0
selenium==4.9.1
simplejson==3.19.1
webdriver_manager==3.8.6
