[DATABASE]
# ------------------------------------------------------------------------
# The database is a PostgreSQL database, and these are the standard
# connection parameters.
# ------------------------------------------------------------------------
# The host is the machine name for the connection
# ------------------------------------------------------------------------

db_host = localhost
# db_host = localhost

# ------------------------------------------------------------------------
# The port number (PostgreSQL default port is 5432)
# ------------------------------------------------------------------------

db_port = 5432

# ------------------------------------------------------------------------
# A PostgreSQL database server may host multiple databases. 
# Specify the database you are using here.
# ------------------------------------------------------------------------

db_name = airbnb

# ------------------------------------------------------------------------
# Database user, which must have sufficient permissions for
# whatever operations you are carrying out
# ------------------------------------------------------------------------

db_user = postgres

# ------------------------------------------------------------------------
# password
# ------------------------------------------------------------------------

db_password = Airbnb22

# If you are using a set of proxies, supply a comma-separated list of
# host:port pairs here. You can split the list over multiple lines
# and leave whitespace at the beginning of the line, like this:
#
# proxy_list=n.nn.nn.nn:12345,
#            n.nn.nn.mm:12345
#
proxy_list = host1:port1,host2:port2


[NETWORK]
# ------------------------------------------------------------------------
# Network parameters control the behaviour of the script when accessing
# the Airbnb website.
# ------------------------------------------------------------------------
# If you are using a set of proxies, supply a comma-separated list of 
# host:port pairs here. You can split the list over multiple lines if you
# wish.
# ------------------------------------------------------------------------
# Must be frequently updated

proxy_list = 
8.210.223.21:80,
20.187.77.5:80,
51.91.100.252:443,
135.125.216.93:80,
202.61.204.51:80,
146.59.14.159:80,
51.68.181.108:80,
45.92.108.112:8080,
164.132.170.100:80,
80.15.19.7:80,
213.191.194.24:80,
102.223.20.217:80,
123.60.139.197:3333,
61.29.96.146:80,
187.60.219.4:3128,
82.223.102.92:9443,
41.74.91.244:80,
3.108.174.46:80,
51.75.122.80:80,
4.233.217.172:80,
103.98.135.121:80,
51.68.124.241:80,
202.6.233.133:80,
84.248.34.9:80,
78.46.175.184:80,
49.0.2.242:8090,
161.35.70.249:8080,
51.15.242.202:8888,
185.216.116.18:80,
148.251.150.106:3128,
159.223.22.33:443,
107.6.27.132:80,
20.220.225.197:80,
116.203.27.109:80,
188.165.200.85:80,
190.61.88.147:8080,
182.255.46.103:80,
156.38.112.11:80,
89.58.29.103:80,
86.214.57.191:80,
52.66.198.98:80,
201.212.246.120:80,
168.119.119.107:80,
196.188.41.36:80,
37.219.64.104:80,
146.255.100.226:80,
195.248.242.147:80,
18.163.96.231:80,
82.64.54.156:80,
117.251.103.186:8080,
47.74.64.65:11,
189.113.14.243:80,
51.103.137.65:80,
185.218.125.70:80,
80.13.0.226:80,
139.99.237.62:80,

# ------------------------------------------------------------------------
# A user agent string is used to identify the program making the request
# As the user agent string can contain commas, the separator is a double comma: ",,"
# Each user agent string should also be enclosed in double quotes.
# ------------------------------------------------------------------------

user_agent_list = "Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; AS; rv:11.0) like Gecko",,
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A",,
    "Mozilla/5.0 (compatible; MSIE 10.0; Macintosh; Intel Mac OS X 10_7_3; Trident/6.0)",,
    "Mozilla/5.0 (compatible, MSIE 11, Windows NT 6.3; Trident/7.0;  rv:11.0) like Gecko",,
    "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36",,
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2227.1 Safari/537.36",,
    "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.2309.372 Safari/537.36",,
    "Mozilla/5.0 (compatible; MSIE 10.6; Windows NT 6.1; Trident/5.0; InfoPath.2; SLCC1; .NET CLR 3.0.4506.2152; .NET CLR 3.5.30729; .NET CLR 2.0.50727) 3gpp-gba UNTRUSTED/1.0",,
    "Mozilla/5.0 (iPad; CPU OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A5355d Safari/8536.25",,
    "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.517 Safari/537.36"
    
    # "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2227.0 Safari/537.36",,
    # "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_3) AppleWebKit/534.55.3 (KHTML, like Gecko) Version/5.1.3 Safari/534.53.10",,

# ------------------------------------------------------------------------
# How many times to try connecting to the Airbnb site before failing
# ------------------------------------------------------------------------

max_connection_attempts = 20

# ------------------------------------------------------------------------
# Be nice: pause between requests. This is a number of seconds,
# but the pause is a random number in the interval [0, request_sleep]
# ------------------------------------------------------------------------

request_sleep = 0.5

# ------------------------------------------------------------------------
# how long to wait before failing on an individual request
# ------------------------------------------------------------------------

http_timeout = 10.0

# ------------------------------------------------------------------------
# The root API for searches
# ------------------------------------------------------------------------

url_api_search_root = https://www.airbnb.com/api/v2/explore_tabs

# ------------------------------------------------------------------------
# API Key
# To collect an API key using Chrome as your browser:
# - In your browser, go to the Airbnb web site 
# - From the menu button at the top right, open More Tools >  Developer Tools
# - Click the Network tab
# - In the Developer Tools, click the stop sign to clear the list of requests
# - Click XHR (this is the kind of event we want)
# - Move the map to generate a new search
# - Find a request with explore_tabs in the name, right click it to show
#   the URL in a new pane.
# - Find the key= part of the URL and add it here
# ------------------------------------------------------------------------

api_key = d306zoyjsyarp7ifhu67rjxn52tv0t20

# ------------------------------------------------------------------------
# Client Session ID
# From what I can see, this can be left as empty
# ------------------------------------------------------------------------

client_session_id = 


[SURVEY]
# ------------------------------------------------------------------------
# These don't often need to be changed
# ------------------------------------------------------------------------

fill_max_room_count = 50000

# ------------------------------------------------------------------------
# For the special case of doing a global sample of Airbnb listings, room
# values are chosen at random for a range with this as the maximum.
# For other searches, this value is not needed.
# ------------------------------------------------------------------------

room_id_upper_bound = 20000000

# ------------------------------------------------------------------------
# Maximum number of pages to loop over in search, 
# for a given area, room_type, and number of guests
# search_max_pages = 10
# ------------------------------------------------------------------------

search_max_pages = 50

# ------------------------------------------------------------------------
# Maximum number of guests in search
# If set to 1 (recommended), searches will not include a "guests" parameter
# ------------------------------------------------------------------------

search_max_guests = 10

# ------------------------------------------------------------------------
# Maximum zoom level for bounding box search
# For search_max_guests = 1 or for larger areas, set to 8
# For search_max_guests > 1 and a city (as opposed to larger area), 
# 6 may be sufficient
# For search_do_loop_over_prices = 0, increase further (eg 12)
# ------------------------------------------------------------------------

# search_max_rectangle_zoom = 6
search_max_rectangle_zoom = 24

# ------------------------------------------------------------------------
# Blur to add to rectangle boundary to avoid gaps
# - as a fraction of the rectangle width
# ------------------------------------------------------------------------

search_rectangle_edge_blur = 0.0

# ------------------------------------------------------------------------
# Set this to zero to not loop over various room types, but look for all
# room types at once.
# ------------------------------------------------------------------------

search_do_loop_over_room_types = 0

# ------------------------------------------------------------------------
# Set this to zero to not loop over various price ranges, but look for all
# prices at once: if you do this, set a high search_max_rectangle_zoom as 
# there will be more listings in any given square
# As of May 2018, this variable is ignored: no loop over prices is done.
# ------------------------------------------------------------------------

search_do_loop_over_prices = 0

# ------------------------------------------------------------------------
# Time to wait, in seconds, when all proxies are used up, before restarting
# ------------------------------------------------------------------------

re_init_sleep_time = 6

[ACCOUNT]
# ------------------------------------------------------------------------
# Google geocoding API key, obtained from 
# https://developers.google.com/maps/documentation/geocoding/start#get-a-key
# ------------------------------------------------------------------------

google_api_key = AIzaSyBuwBZP2awSzxbOfsu0O5iWZlf8m2ilQT8

# ------------------------------------------------------------------------
# End of configuration file
# ------------------------------------------------------------------------


# Exemplo de como executar
# python airbnb.py -asa "Bordeaux"
# python airbnb.py -asv "Bordeaux"
# update search_area set bb_n_lat = 44.92, bb_s_lat = 44.81, bb_e_lng = -0.53, bb_w_lng = -0.64 where name = 'Bordeaux';
# python airbnb.py -sb 1