@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";

.chartContainer {
  display: flex;
  width: 100%;


  @include halfdesktop {
    flex-direction: column;
  }
}

.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // padding-block: 1rem 2rem;

  @include half {
    flex-direction: column;
  }

  .selects {
    display: flex;
    width: 65%;

    @include half {
      flex-direction: column;
      width: 100%;
    }

    &>div {
      margin-right: 1rem;

      @include half {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }

  .buttons {
    display: flex;

    @include half {
      flex-direction: column;
      width: 100%;
    }

    button {
      // width: 90%;
      // margin-left: 4%;

      @include half {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

.chartContent {
  height: 90%;
  width: 90%;
}