@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/colors";
@import "~/assets/styles/base/theme";

.dataTableRenderButtonsColumn {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: 100%;

  @include half() {
    flex-wrap: wrap;
  }
}