@import "~/assets/styles/base/mixins";

$primary-color: #173B5B;
$secondary-color: #F2F2F2;

$button-color: $secondary-color;
$button-background-color: #374D60;

$text-color: #312E2E;

.pageHeader {
    padding: 40px 0;

    h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.1rem;
    }
}

.pageTitle {
    padding: 40px 0;

    @include half {
        padding: $space-g 0;
    }

    @include mobile {
        padding: $space-m 0;
    }
}