@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";

$modal-padding: $space-m;

/* Largura do component Dialog */
.MuiDialog-paperFullWidth {
    width: unset !important;
}

.defaultModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    // @extend .themelight, .themedark;

    padding: $modal-padding;
    border-radius: 17px;

    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;

    &.fixed {
        height: 100vh;
        max-height: 100vh;
        position: fixed;
        border-radius: 17px 0 17px 0;
        right: 0;
        width: 70vw;
        min-width: 200px;

        @include half {
            width: 100%;
        }
    }

    &.noOverflow {
        overflow-x: unset;
        overflow-y: unset;
    }

    &.boxMaxWidthxs {
        max-width: $width-extrasmall;

        @include mobile() {
            max-width: unset;
        }
    }

    &.boxMaxWidthsm {
        max-width: $width-small;

        @include halfmobile() {
            max-width: unset;
        }
    }

    &.boxMaxWidthmd {
        max-width: $width-medium;

        @include half() {
            max-width: unset;
        }
    }

    &.boxMaxWidthlg {
        max-width: $width-large;

        @include halfdesktop() {
            max-width: unset;
        }
    }

    &.boxMaxWidthxl {
        @include desktop() {
            max-width: $width-extralarge;
        }
    }

    // width: 400px;

    // @include half {
    //   width: 300px;
    //   padding: 20px;
    // }

    // @include mobile {
    //   width: 250px;
    // }

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $modal-padding;

        @include half {
            padding-bottom: 0;
        }
    }

    .body {
        padding: $modal-padding 0;
    }

    .footer {
        padding-top: $modal-padding;
    }

    hr {
        margin: 0;
        margin-left: -$modal-padding;
        width: calc(100% + (2 * $modal-padding));
        background-color: $modal-hr-color;

        @include half {
            margin-top: 15px;
            margin-left: -20px;
            width: calc(100% + 40px);
        }
    }
}

@include themed {
    background-color: t('modal-background-color');
    color: t('card-color');
}