@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";

.label {
  width: 90px;
  height: 100%;
  padding: $space_p $space_m;
  text-align: center;

  .changePriorityBtn {
    padding: $space_p $space_m;
    max-width: 90vw;
    text-align: center;
    margin-bottom: $space_p;
  }
}

.geralBar {
  background-color: $black500;
}

.resumeBar {
  height: 100%;
  position: relative;
  min-height: 30px;

  cursor: help;
}