@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/colors";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";
@import "~/assets/styles/base/typography";

.homeBanner {
  background-color: $black0;
  margin-top: $header-desktop-height;

  @include half() {
    margin-top: $header-half-height;
  }

  @include mobile() {
    margin-top: $header-mobile-height;
  }
}

.centerImage {
  background-image: url('~/assets/images/homeImagePage.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) {
  .centerImage {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .centerImage {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
}

@media (max-width: 481px) {
  .centerImage {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('~/assets/images/mobileHomeImage.png');
  }
}
@media (min-width: 930px) {
  .centerImage {
    width: 100%;
    height: 500px;
    background-size: contain;
  }
}

@media (min-width: 1280px){
  .centerImage {
    height: 600px;
    background-size: contain;
  }
}
@media (min-width: 1400px){
  .centerImage {
    background-size:cover;
  }
}
@media (min-width: 1800px){
  .centerImage {
    background-size:cover;
    height: 750px;
  }
}
.projectDescriptionContainer {
  display: flex; 
  align-items: center;
  justify-content: flex-start;  
  width: 49%;
  height: auto;
  flex-direction: column;
  padding: 2rem 2rem 10% 10%;

  h2 {
    margin-bottom: 15px;
    font-size: $font-size-h2;
  }
}

.homeSectionProjects {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 5%;
  background-color: #fff;

  .projectsDashBoardsContainer {
    display: flex;
    width: 50%;
    height: auto;
    align-items: flex-end !important;
    justify-content: flex-end !important;

    .imageDashBoards {
      width: 80%;
      height: auto;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.03);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.03);
  }
}

.manageWorkflowContainer {
  display: flex;
  justify-content: space-between;
  background-color: $gray-250;
  width: 100%;
  height: auto;
  padding: 5%;

  .worflowImagesContainer {
    width: 49%;
    background-color: transparent;
    position: relative;
    flex-direction: column;
    margin-bottom: 50px;

    .projectsImage {
      width: 100%;
      position: absolute;
      height: auto;
      margin-bottom: 200px;
      top: -100%;
      scale: 1.03;
      left: 10px;
      animation: pulse 5s infinite;
    }
  }

  @media (max-width: 1260px) {
    .worflowImagesContainer {
      width: 49%;
      background-color: transparent;
      position: inherit;
      flex-direction: column;
      margin-bottom: 50px;

      .projectsImage {
        top: 0;
        bottom: 50px;
        position: inherit;
        margin-bottom: 0px;
      }
    }
  }
}

@media(max-width: 768px) {
  .homeSectionProjects {
    .projectsDashBoardsContainer {
      display: flex;

      .imageDashBoards {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
    }
  }

  .worflowImagesContainer {
    width: 100% !important;
  }

  .projectDescriptionContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 2rem 2rem 10% 10%;

    h2 {
      margin-bottom: 15px;
      font-size: $font-size-h2;
    }
  }

  .homeSectionProjects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .manageWorkflowContainer {
    width: 100%;
    flex-direction: column;

    .projectsImage {
      width: 100%;
      position: absolute;
      height: auto;
      margin-bottom: 200px;
      top: -70%;
      left: 10px;
    }
  }
}