@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";

$articleFileArea_label_marginTop: $space-m; //Margem superior da label
$articleFileArea_label_marginBottom: $space-p; //Margem inferior da label

.articleFileArea {
  margin-top: auto;

  h5 {
    margin-top: $articleFileArea_label_marginTop;
    margin-bottom: $articleFileArea_label_marginBottom;
  }
}