@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/colors";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";

.pageContent {
  width: 100%;
  height: 100vh;
  transition: margin-left 0.2s;
  overflow: auto;

  &.open {
    margin-left: $side-menu-width-open;
    width: calc(100vw - $side-menu-width-open);
  }

  &.close {
    margin-left: $side-menu-width-close;
    width: calc(100vw - $side-menu-width-close);

    @include half {
      margin-left: 0px;
    }
  }

  .content {
    padding: $space-xg;

    @include mobile {
      padding: $space-m;
    }

    &.noPadding {
      padding: 0;
    }
  }

  @include half {
    width: 100% !important;
    overflow-y: unset;
  }
}

.noPadding {
  padding: 0 !important;
}

@include themed {
  .navBarContent {
    background-color: t('side-menu-background');
  }
}

.fixedHeaderr {
  // margin-top($)
  position: sticky;
  left: 0;
}

.dataTableRenderButtonsColumn {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: 100%;

  @include half() {
    flex-wrap: wrap;
  }

}

.dropDown {
  width: 100%;
}


.dataTableRenderHeader {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @include half() {
    flex-direction: column;
  }
}

.dataTableHeaderCalendar {
  flex-direction: row;
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 24px;
}

@media (max-width: 560px) {
  .dataTableHeaderCalendar {
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  .containerInputHeaderCalendar {
    width: 80%;
  }
}