@import "~/assets/styles/base/typography";
@import "~/assets/styles/base/variables";

.themeSetter {
  padding: $space-m;
  cursor: pointer;

  display: flex !important;
  align-items: center;
  white-space: nowrap;

  &>div {
    margin-right: $space-p;
  }
}