@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";

.videoReprodutor {
  flex: 1;
  height: 100%;

  border-radius: 8px;

  padding: $space-m;
  max-width: $width-extralarge;

  height: 100%;

  p {
    overflow-wrap: break-word;
  }

  @include halfdesktop {
    max-width: $width-large;
  }

  @include half {
    max-width: $width-medium;
  }

  @include halfmobile {
    max-width: $width-small;
  }

  @include mobile {
    max-width: $width-extrasmall;
  }

  iframe {
    width: 100%;
    height: calc($width-extralarge * 0.3);
    margin-bottom: $space-m;

    @include halfdesktop {
      height: calc($width-large * 0.4);
    }

    @include half {
      height: calc($width-medium * 0.4);
    }

    @include halfmobile {
      height: calc($width-small * 0.6);
    }

    @include mobile {
      height: calc($width-extrasmall * 0.6);
    }

  }
}

@include themed() {
  background-color: t('card-background');
  color: t('card-color');
  box-shadow: 0px 7px 20px t('card-shadow-box2');
}