@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";

.paginationBox {

  @include half {
    display: none;
  }
}

.paginationResponsiveBox {
  display: none;

  @include half {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    margin: 20px 0;
  }
}

.categoryPagination {
  width: 100%;
  /* z-index: -999; */

  @include half {
    padding-left: 0;
    width: 130%;

    button {
      height: 30px;
      width: 20px;
      margin-left: 0;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  span {
    background-color: $pagination-unselected-background-color;
    z-index: -1;
  }

  button {
    background-color: $pagination-unselected-background-color;
    z-index: 1;
  }

  /* Sobrescrita da implementação do MaterialCore */
  .MuiPagination-ul {
    justify-content: center;
  }

  .MuiPaginationItem-sizeLarge {
    border-radius: 12px !important;
  }

  .MuiPaginationItem-root {
    border-radius: 6px !important;
  }

  /* Estilização de botão de página selecionada */
  .Mui-selected span,
  .MuiPaginationItem-page.Mui-selected span {
    background-color: $table-background !important;
  }

  li .Mui-selected {
    font-weight: bold;
    font-size: 1.3rem;
    color: $text-color;
  }

  .MuiPagination-ul {
    justify-content: center !important;
  }
}