@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";

.sideArticleList {
  width: 360px;
  min-height: 100%;
  overflow-y: auto;
  padding: $space-pp;
  // padding-bottom: $space-xg;

  @include half {
    width: 100%;
  }

  .list {
    width: 100%;

    .item {
      width: 100%;

      display: inline-flex;
      gap: $space-m;
      padding: $space-p;

      height: 88px;

      cursor: pointer;

      h4 {
        flex: 1;
      }
    }
  }
}

@include themed() {
  .list {
    .item {
      background-color: t('card-background');
      color: t('card-color');

      &>div {
        color: t('primary_color');
      }

      &:hover,
      &.selected {
        background-color: t('card-background-hover');
      }
    }
  }
}