@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";

.knowledgebaseVideosPage {
  padding: $space-xg;
  display: flex;
  gap: $space-xg;

  @include half {
    flex-direction: column;
    height: unset;
  }
}