@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/colors";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";

.board {
  h4 {
    color: $color-ticket-list-item-title;
  }

  h5 {
    color: $color-ticket-list-item-subtitle;
  }

  h6 {
    color: $black600;
  }
}

.list {
  border-radius: $space_m;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 30%);

  .title {
    padding: $space_m;
  }

  .body {
    padding: 0 16px;
    padding-top: $space_m;
    padding-bottom: $space_m;
    border-radius: 0 0 $space_m $space_m;
  }
}

.card {
  padding: $space-p !important;
  margin-bottom: $space-m;

  overflow-wrap: anywhere;

  width: 100%;
  box-shadow: unset;

  caption {
    padding: $space-pp;
    border-radius: $border-radius-small;
    color: $black30;
    font-weight: bold;
    max-width: 100%;

    overflow: hidden;
    white-space: nowrap;
    /* Don't forget this one */
    text-overflow: ellipsis;

    background-color: $black100;
    color: $black700;
  }
}

@include themed {
  &.list {
    background-color: t('card-background');
    color: t('card-color');
  }

  &.card {
    border: 2px solid t('kanban-card-border-color');
  }
}