@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";
@import "~/assets/styles/base/theme";

.sideMenu {
  color: $side-menu-color;

  height: 100%;
  width: $side-menu-width-open;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  transition: 0.2s;
  // padding: 20px 0;

  display: flex;
  flex-direction: column;



  @include half() {
    position: fixed;
    width: 100vw;
    // height: 100vh;
    z-index: 10;
  }

  .sideMenuCollapseButton {
    display: flex;
    // padding: 0 1rem;
    cursor: pointer;
    // position: relative;
    color: $change-view-background-color1;
    justify-content: center;
    width: 100%;

    min-height: $header-desktop-height;
    padding: $header-padding;

    @include half {
      color: $change-view-background-color1;
      height: 70px;
    }
  }

  .changeViewButtonBottom {
    display: none;

    @include half {
      display: unset;
    }
  }

  .options {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .href {
    text-decoration: none;
  }

  .dropOptions {
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    height: 0;
    overflow: hidden;
  }

  .option {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0.5rem;
    color: $white;

    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $blue-200;
    }

    @include half {
      grid-template-columns: 1fr 7fr;
    }
  }

  .optionWithDropdown {
    display: flex;
    justify-content: space-between;
  }

  .dropdownButton {
    cursor: pointer;
    border: none;
    background: none;

    color: white;
  }

  .sideMenuText {
    display: flex;
    align-items: center;

    caption {
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .abbrOpen {
    display: none;
  }

  // Open Menu
  &.open {
    .sideMenuCollapseButton {
      margin-left: auto;
    }

    .option {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding: 1rem;

      @include half {
        grid-template-columns: 1fr 7fr;
      }
    }

    .sideMenuText {
      caption {
        margin-left: $space-pp;
        text-align: left;
      }
    }
  }

  // Close Menu
  &.close {
    width: $side-menu-width-close;

    @include half {
      position: absolute;
      height: 75px;
    }

    .abbrOpen {
      display: unset;
    }

    .abbrClose {
      display: none;
    }

    .sideMenuText {
      // font-size: 12px;
      // text-align: center;
      margin-top: $space-p;

      overflow: hidden;
      text-overflow: ellipsis;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .subOption {
      display: none;
    }

    .dropdownButton {
      display: none;
    }

    .sideMenuCollapseButton {
      border-radius: 0 0 70%;
    }

    .options {

      @include half {
        display: none;
      }

      .icon {
        justify-content: unset;
      }
    }

    .iconImg {
      margin-left: 3px;
    }

    @include half {
      width: $side-menu-width-close-half;

      .sideMenuText {
        display: none;
      }
    }

    @include mobile {
      width: $side-menu-width-close-mobile;
    }
  }

  &.close .iconRounded {
    padding: $space-m;
    display: flex;
    justify-content: center;
    align-items: center;

    @include half {
      display: none;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }

  &.open .iconRounded {
    display: none;
  }

  .sideMenuLogo {
    width: 65%;
    max-width: 130px;
    position: absolute;
    left: $space-m;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.sideMenuCollapseButton.mobile {
  display: none;

  @include half {
    color: $change-view-background-color2;
    display: unset;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  min-width: 20px;
  cursor: pointer;
}

.sideMenuCollapseButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideMenu.open .sideMenuCollapseButton {
  display: flex;
  justify-content: end;

  @include half {
    margin-left: -$space-m;
  }
}

@include themed {
  background-color: t('side-menu-background');

  .sideMenuCollapseButton {
    background-color: t('side-menu-background');
  }

  @include half {
    &.close {
      background-color: transparent !important;
    }
  }
}