@import "~/assets/styles/base/mixins";
@import "~/assets/styles/base/variables";

.containerDetail {
    margin-bottom: $space-p;
}

.container {
    padding: $space-p;
    width: 100% ;
}
.typographyStyle {
    color: red;
}
.textStyled {
    word-wrap: normal;
    word-break: break-all;
}
.containerUserList {
    display: flex;
    justify-content: flex-start;
    
}